.lettered {
    list-style-type: lower-latin;
}

.lettered kbd {
    background-color: black;
    color: whitesmoke;
    padding: 2.5px;
}

.title {
    font-size: 150%;
}

kbd.folder {
    background-color: wheat;
    color: black;
}

.centered {
    text-align: center;
}

.checkable {
    cursor: pointer;
    color: grey;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) color 0.5s;
}

.checkable:hover {
    filter: brightness(-0.15);
}

#step-one {
    color: grey;
    cursor: not-allowed;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) color 0.5s;
}

#step-one.green {
    color: #21ba45;
}